<h1>New user</h1>

<form action="<%= users_url %>" method="POST">

  <input
  	     name="authenticity_token"
  	     type="hidden"
  	     value="<%= form_authenticity_token %>">


  <label for "email_address">email address </label>
  <input type = "text" name = "user[email_address]" id = "email_address">

	<label for="password"> Password</label>
	<input type="password" name="user[password]" id="password">

  <input type="submit" value="Submit">
</form>

<%= link_to 'Back', users_path %>
