<h1>Bands! Bands! Bands!</h1>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Band', new_band_path %>
<%= link_to 'log_in', "http://localhost:3000/sessions" %>

