<h1>New Band</h1>

<form action="<%= bands_url %>" method="POST">

  <input
  	     name="authenticity_token"
  	     type="hidden"
  	     value="<%= form_authenticity_token %>">


  <label for "band_name">band name </label>
  <input type = "text" name = "band[name]" id = "band_name">

  <input type="submit" value="Submit">
</form>

<%= link_to 'Back', bands_path %>
