<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user != nil %>
  <%= "hello #{current_user.email_address}" %>
<% end %>
<%= yield %>

<% if current_user != nil %>
  <%= button_to "Logout", sessions_url, method: :delete %>
<% end %>
</body>
</html>
